html, body {
    height:100%;
}

.vignette-shadow {
background: rgb(39, 39, 39);
height: 100%;
box-shadow: inset 0 0 100px rgba(53, 51, 32, 0.596);
}
/* 
.carousel {
    height: 100vh;
    width: 100%;
    overflow:hidden;
}
.carousel .carousel-inner {
    height:100%;    
} */

.slide-text {
    font-family: 'Cabin', sans-serif;
    font-size: 40px;
    
    color: rgb(214, 202, 202);
    
    text-align: center;

    /* opacity: 0; */
}


@media screen and (max-width: 600px) {
  .slide-text {
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    
    color: rgb(214, 202, 202);
    
    text-align: center;

    /* opacity: 0; */
}
}

 /* Carousel styling */
 #introCarousel,
 .carousel-inner,
 .carousel-item,
 .carousel-item.active {
   height: 100vh;
 }

 .carousel-item:nth-child(1) {
   /* background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg'); */
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   box-shadow: inset 0 0 100px rgba(53, 51, 32, 0.486);
 }

 .carousel-item:nth-child(2) {
   /* background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg'); */
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   box-shadow: inset 0 0 100px rgba(53, 51, 32, 0.486);
 }

 .carousel-item:nth-child(3) {
   /* background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg'); */
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   box-shadow: inset 0 0 100px rgba(53, 51, 32, 0.486);
 }

 /* Height for devices larger than 576px */
 @media (min-width: 992px) {
   #introCarousel {
     margin-top: -58.59px;
   }
 }

 .navbar .nav-link {
   color: #fff !important;
 }


 /* ANMATIONS */
 /* p {
    animation-duration: 1s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  } */